
<form asp-controller="checkout" asp-action="pay" method="post">
    <label class="text-info text-center">Your payment was succesfull</label>
    <p class="text-center">
        Transaction details:<br />
        Customer: @ViewBag.Customer <br />
        Amount: $@ViewBag.Amount
    </p>
</form>

<div class="container-fluid">
    <a asp-controller="Product" asp-action="Index" asp-route-id=""
    type="button" class="btn btn-primary text-center" style="float: inline-end">
    Continue Shoping </a>
</div>