@{
    ViewData["Title"] = "Home Page";
}

@model List<Codecool.CodecoolShop.Models.Product>

<div class="container-fluid">
    <div class="row d-flex justify-content-around" id="products-container">
        <partial name="Products">

    </div>
</div>

